.admin__menu{
	list-style: none;
	float: left;
	margin-top: 20px;
}

.admin__menu li{
	display: inline-block;
	margin-right: 0;
	margin-left: 8px;
}
.title__breadcrumb{
	font-size: 20px;
	margin-top: 0;
}
.navbar{
	min-height: 35px !important;
}
.logo img{
	height: 80px;
}
.white-bg h3{
	margin-top: 0
}
.mg-t-30{
	margin-top: 30px;
}
.breadcrumb__content{
	padding: 20px;
}
.fz-12{
	font-size: 12px;
}
.mg-b-30{
	margin-bottom: 30px;
}
.header__page{
	background: #f8f8fb;
}
.admin__menu{
	padding-right: 0;
}
.admin__menu li a{
	color: #25225b;

}
.admin__menu li:last-child {
	margin-left: 0;
}
.pt-10{
	padding-top: 10px;
}
.sup-title{
	font-size: 20px;
	margin-bottom: 31px;
}
.padding-20{
	padding: 20px;
}
.head_table > thead > tr > th{
	background: #25225b ;
	color: #fff;
}
.btn{
	padding: 6px 12px 9px;
	font-size: 14px;
}
.btn-sm{
	padding: 6px 12px 9px;
	font-size: 14px;
}
.btn:hover{
	opacity: 0.8;
	transition: 0.2s;
}
.p-b-15{
	padding-bottom: 15px;
}
.p-b-12{
	padding-bottom: 12px;
}
.img-200 img{
	width: 200px;
}
.strong{
	font-weight: bold;
	padding-right: 0;
}
.text-right{
	text-align: right !important;
}
.mg-t-10{
	margin-top: 10px;
}
p.pt-10.mg-t-10{
	margin-top: 9px;
	float: left;
	padding-bottom: 11px;
}
.mg-t-20{
	margin-top: 20px !important;
}
.breadcrumb li a{
	color: #929292;
	transition:0.3s;
}
.breadcrumb li a:hover{
	color: inherit;
	transition:0.3s;
}
.breadcrumb li:last-child a{
	color: inherit;
	transition:0.3s;
}
.border-bottom{
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 10px;
}
.raw_visible.border-bottom{
	overflow: visible;
}
.main-color{
	color: #25225b;
	background: #f9f9f9;
}
.bg-gray-light{
	background: #f9f9f9;
}
.border1{
	border: 1px solid #ccc;
	overflow: hidden;
	border-radius: 4px;
	padding: 5px 10px;
	margin-left: 4px;
	text-align: center;
	position: relative;
	top: 2px;
}
.sup_title{
	margin-bottom: 20px;
}
.border-bottom1{
	border-bottom: 1px solid #ccc;
	padding-bottom: 14px;
}
.mg-b-10{
	margin-bottom: 10px;
}
.rounded-circle{
	display: inline-block;
	padding: 3px 7px;
	background: #25225b;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
}
.p-t-10{
	padding-top: 10px;
}
.last-msgs-content{
	border:1px solid #ccc;
	padding: 20px;
	margin-bottom: 15px;
}
.last-msgs-content_text{margin-bottom: 0;}
.sender{
	background: #eee;
}
.last-msgs-container{
	max-height: 350px;
	overflow-y: scroll;
	margin-bottom: 15px;
}
.last-msgs h2{
	font-size: 20px;
}
.breadcrumb__content{
	margin-bottom: 25px;
}
#if_status{
	display: none;
}
.ibox-title > a{
	color: #323639;
}
#navbar .navbar-nav > li{
	margin-top: 7px;
	margin-bottom: 7px;
	border-right: 1px solid #ccc;
}

.top-navigation .nav > li > a {
    padding: 8px 20px;
    color: #676a6c;
}

.i-checks-col{
    margin-top: 5px;
}

.img-size-50, .img-size-50 img{
    width: 50px;
    height: 50px;
}

.btn-add {
    font-size: 20px;
}

button.ui-datepicker-current {
	display: none;
}

.span_merchant{
    line-height: 32px;
}
.span_balance, .span_debt{
	line-height: 32px;
	margin-right: 18px;
}
.table.styled > thead > tr > th, .table.styled > tbody > tr > td{
	text-align:center;
}
.table.styled > thead > tr > th.text-right, .table.styled > tbody > tr > td.text-right{
	text-align:right;
}

.table-responsive{
	overflow-x: auto !important;
	overflow-y: hidden !important;
}
#wrapper {
	overflow-x: initial !important;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 7px !important;
}
.dropdown-toggle {
    padding-right: 12px !important;
    padding-top: 8px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 12px !important;
    right: unset !important;;
}
.ibox-content.flow_visible{
	overflow: visible;
}
.field_double{
	margin-top: -100px;
	position: absolute;
}
.field_double_hide{
	overflow: hidden;
	height:34px;
}
.field_double_ff{
	margin-top: -100px;
	position: absolute;
}
.tooltip .tooltip-inner {
	background-color: #28469E;
	font-family:'droidkufi-regular', 'sans-serif';
	font-size: 12px;
}
.tooltip.morewidth .tooltip-inner{
	min-width: 270px;
	background-color: #28469E;
	border: 1px solid #ccc
}
.tooltip1{
	margin:5px;
}

.head_lang{
	background: #585a9a;
	padding: 9px 4px;
	font-size: 11px;
	text-align: center;
	margin-bottom: -50px;
}
.lang_item{
	padding: 4px 6px;
	color: #fff;
}
.right_lang{
	border-left: 1px solid #7f81bd;
}
.lang_item:hover, .lang_item:focus{
	background: #686aa7 !important;
	color: #a6c4d0;
}