
@font-face {
  font-family: 'GESSTwoBold-Bold';
  src: url('GESSTwoBold-Bold.eot?#iefix') format('embedded-opentype'),  url('GESSTwoBold-Bold.otf')  format('opentype'),
	     url('GESSTwoBold-Bold.woff') format('woff'), url('GESSTwoBold-Bold.ttf')  format('truetype'), url('GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
